<section class="mt-5 text-center flex items-center gap-x-3  text-[#394150] font-medium">
  <div>
    <p>Step <span>1</span> of <span>3</span></p>
  </div>
  <div class="flex gap-x-3 items-center">
    <div class="transition-all step w-6 h-6 bg-[#652CD1]/35 rounded-full flex justify-center items-center">
      <span class="w-3 h-3 rounded-full bg-[#845EEE]"></span>
    </div>

    <div class="transition-all t step w-6 h-6 rounded-full flex justify-center items-center">
      <span class="w-3 h-3 rounded-full bg-[#394150]"></span>
    </div>

    <div class="transition-all t step w-6 h-6  rounded-full flex justify-center items-center">
      <span class="w-3 h-3 rounded-full bg-[#394150]"></span>
    </div>
  </div>
</section>