---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="w-full h-screen flex justify-center items-center flex-col">
			<div class="fixed z-0 h-[200px] w-[200px] lg:w-[200px] lg:h-[200px] rounded-full bg-[#652CD1] blur-[120px] opacity-50 left-0 top-0"></div>
			<slot />
			<div class="fixed z-0 h-[200px] w-[200px] lg:w-[200px] lg:h-[200px] rounded-full bg-[#652CD1] blur-[120px] opacity-50 right-0 bottom-0"></div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #121826;
		background-size: 224px;
	}
</style>
